<h3>Conversor de moédas</h3>
<%= form_tag(currencies_path, method: :post) do %>
  <%= label_tag "Valor:" %>
  <%= text_field_tag "amount" %>

  <%= label_tag "Converter de:" %>
  <select name="from">
    <% @symbols.each do |s| %>
      <option value="<%= s[0] %>"><%= s[0] %> - <%= s[1] %></option>
    <% end %>
  </select>

  <%= label_tag "Para:" %>
  <select name="to">
    <% @symbols.each do |s| %>
      <option value="<%= s[0] %>"><%= s[0] %> - <%= s[1] %></option>
    <% end %>
  </select>

  <%= submit_tag "Converter" %>
<% end %>